.gif-pickers {
    display: flex;
    align-items: center;
    padding-bottom: 1.4em;
}

button.swap-button {
    flex: 0;
    padding: 2px 6px;
}

.gif-picker {
    flex: 1;
    display: flex;
    justify-content: center;
    
   .gif-picker-button {
        display: block;
        height: 100%;
        margin: 0.4em 1em;
        border: none;
    
        .label {
            display: block;
            padding-bottom: 0.4em;
        }

        img {
            display: block;
            max-width: 100px;
            max-height: 100px;
        }
    }
}